/Library
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.VisualScripting.Core.csproj
/Unity.VisualScripting.Core.Editor.csproj
/Unity.VisualScripting.Flow.csproj
/Unity.VisualScripting.Flow.Editor.csproj
/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Unity.VisualScripting.Shared.Editor.csproj
/Unity.VisualScripting.State.csproj
/Unity.VisualScripting.State.Editor.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/UnityEditor.TestRunner.csproj
/UnityEngine.TestRunner.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-firstpass.csproj
/Assembly-CSharp-firstpass.csproj
/Cinemachine.csproj
/com.unity.cinemachine.editor.csproj
/SyouZyo Strike.sln
/Unity.Animation.Rigging.csproj
/Unity.Animation.Rigging.Editor.csproj
/Unity.Burst.CodeGen.csproj
/Unity.Burst.csproj
/Unity.Burst.Editor.csproj
/Unity.CollabProxy.Editor.csproj
/Unity.InputSystem.csproj
/Unity.InputSystem.TestFramework.csproj
/Unity.Mathematics.csproj
/Unity.Mathematics.Editor.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.Searcher.Editor.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/.vs
/obj
/Temp
/Logs
